@import "tailwindcss";

:root {
  --background: #fdf2f8 !important;
  --foreground: #171717 !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #fdf2f8 !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: #fdf2f8 !important;
}
